@import "partials/params";
@import "partials/mixins";

.header{
  position: relative;
  background-color: $blue;
  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 145px;
    height: 40px;
    background-color: $lilac;
    border: 2px solid $lilac;
    border-radius: 5px;
    overflow: hidden;
    transition: color 0.3s ease-in-out 0.3s, background-color 0.3s ease-in-out 0.3s, border 0.3s ease-in-out 0.3s;
    &:before{
      content: '';
      position: absolute;
      transition: top .5s ease-in .5s, width .5s ease-out, height .5s ease-out;
      -webkit-transition: top .5s ease-in .5s, width .5s ease-out, height .5s ease-out;
      left: 50%;
      top: -50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $yellow;
      z-index: -1;
    }
    &:hover{
      background-color: transparent;
      color: $blue;
      border: 2px solid $yellow;
      transition: color 0.5s ease-in-out 0.3s, background-color 0.3s ease-in-out 0.3s, border 0.3s ease-in-out 0.3s;
      &:before{
        transition: top .5s ease-in, width .5s ease-out .5s, height .5s ease-out .5s;
        -webkit-transition: top .5s ease-in, width .5s ease-out .5s, height .5s ease-out .5s;
        top: 50%;
        width: 200px;
        height: 200px;
      }
    }
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link{
    position: relative;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 26.5px 17px;
    transition: 1s;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      transition: 1s;
      transform: rotateX(90deg);
      z-index: -1;
    }

    &:after {
      transform: rotateY(90deg);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $yellow;
      transition: 1s;
      z-index: -1;
    }

    &:hover:before {
      transform: rotateX(0deg);
    }

    &:hover:after {
      transform: rotateY(0deg);
    }
    &:hover {
      color: $blue;
    }
  }
  &__money{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    overflow: hidden;
    &:before{
      content: '';
      background-color: $yellow;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    &:after{
      position: absolute;
      transition: all 0.7s ease-in-out;
      content: '';
      width: 0;
      height: 120%;
      left: -10%;
      bottom: 0;
      background-color: $white;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:hover{
      &-text{
        color: $white;
      }
      &:after{
        width: 120%;
        left: -10%;
        transition: all 0.7s ease-in-out;
      }
    }
    &-text{
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $blue;
    }
    &-count{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 10px;
      padding-right: 30px;
      &:after{
        content: '';
        position: absolute;
        background: url("../img/arrow-right.svg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 15px;
        height: 24px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-top{
      font-size: 18px;
      line-height: 21px;
      color: $blue;
    }
    &-bottom{
      font-size: 10px;
      line-height: 12px;
      color: $blue;
      padding-right: 8px;
    }
    &-link{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }
  &__user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-name{
      position: relative;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
      padding-right: 12px;
      &:after{
        content: '';
        position: absolute;
        background: url("../img/arrow-bottom.svg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 10px;
        height: 6px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &-curator{
      font-size: 12px;
      line-height: 14px;
      padding-right: 12px;
    }
    &-phone{
      transition: 0.3s;
      &:hover{
        color: $yellow;
       transition: 0.3s;
      }
    }
  }
}